.images-container{
    /* background: rgb(151, 150, 148); */
    display: flex;

}

.indiv-img{
    border: solid grey 4px;
    width: 250px!important;
    height: 180px!important;
    margin: 5px;
    margin-bottom: 0px;
}
.sel-border{
    border-bottom: solid green 4px;
}

.img-wrap{
    opacity:0.7;
    margin: 0;
}

.img-wrap:hover{
    opacity:1;
    cursor: pointer;
}

.word-container{
    display: flex;
}

.indiv-word{
    margin: 4px;
    margin-left: 10px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 120%;

    border-radius: 20px;
    
    text-align: center;
}

.sel-option{
    width: 80px;
    height: 40px;
    border: solid grey 2px;
}

.sel-option:hover{
    cursor: pointer;
}

